{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Admin Panel Guide:</div>
  

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Create Authorized Traders from Trader tab</li>
    <li class="list-group-item">Create and set commission and labour charges for commodities.</li>
    <li class="list-group-item">Full featured filters and Search enabled for Transactions and Farmers</li>
    <li class="list-group-item"><b>Coming Soon!</b></li>
    <li class="list-group-item">Dashboard for daily activities and Analytics</li>
	<li class="list-group-item">Automated Reports daily/ weekly/ monthly</li>
  </ul>
</div>
        </div>
    </div>
</div>
{% endblock body %}
