<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Receipt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
      @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
      body, h1, h2, h3, h4, h5, h6{
      font-family: 'Bree Serif', serif;
      }
    </style>
  </head>
  
  <body>
    <div class="container">
	  <div id="printableArea">
      <div class="row">
        <div class="col-xs-6">
          <h1>
            <img src="images/logo.jpg">
            Demo APMC
          </h1>
		  <p>
                Mundhada APMC, Mehkar Road, Malegaon, Washim (MS)<br>
				Contact Details: +91-9948365348
          </p>
        </div>
        <div class="col-xs-6 text-right">
          <h1>Receipt</h1>
          <h1><small>Receipt No #001</small></h1>
		  <h2><small>Date </small></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>For : XYZ Farmer</h4>
            </div>
            <div class="panel-body">
              <p>
                Village <br>
				Phone <br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>Commodity Type</h4>
            </th>
            <th>
              <h4>Weight (Quintals)</h4>
            </th>
            <th>
              <h4>Price (Rs.)</h4>
            </th>
            <th>
              <h4>Product Value (Rs.)</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Soyabean</td>
            <td class="text-right">12</td>
            <td class="text-right">3000</td>
            <td class="text-right">36000</td>
          </tr>
        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>
            Sub Total : <br>
            Commission : <br>
			Labour Charges : <br>
            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong>
          Rs. 36000.00 <br>
          Rs. 360.00 <br>
          Rs. 84.00 <br>
		  Rs. 35556.00<br>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Trader details</h4>
            </div>
            <div class="panel-body">
              <p>Trader Name</p>
              <p>Address</p>
              <p>Contact</p>
              <p>Other Info : --------</p>
            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="span7">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Advertisement</h4>
              </div>
              <div class="panel-body">
                <p>
                  Advertisement
                </p>
                <h4>Payment T&C </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
	  <br>
	  <br>
	  <br>
	  <script>
		function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
		}
	</script>
	  <div class="row">
		<div class="col-md-6 text-right">
			<a href="#" class="btn btn-lg btn-primary">New Transaction <span class="glyphicon glyphicon-file"></span></a>
		</div>
		<div class="col-md-6">
			<a href="#" class="btn btn-lg btn-primary" onclick="printDiv('printableArea')">Print Receipt <span class="glyphicon glyphicon-print"></span></a>
		</div>
		</div>
    </div>
	
  </body>
</html>