{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
<div class="container">
<div class="page-header">
    <h1>
      Farmer Registration
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <form method="POST" action="/u/register" autocomplete="off">
        <input id="csrf_token" name="csrf_token" type="hidden" value="">
        
		<div class="form-group ">
		<label class="control-label" for="name">Name</label>
		<input autofocus class="form-control" id="name" name="name" type="text" value="{{name}}" required>
		</div>


        <div class="form-group ">
		<label class="control-label" for="phone">Phone</label>
		<input class="form-control" id="phone" name="phone" pattern="^[0-9]{10}$" type="text" placeholder="10 digit mobile number" value="" required>
		</div>


        <div class="form-group ">
		<label class="control-label" for="village">Village</label>
		<input class="form-control" id="village" name="village" type="text" value="" required>
		</div>
		
		
		<div class="form-group ">
		<label class="control-label" for="area">Area</label>
		<div class="input-group">
		<input class="form-control" id="area" name="area" type="number" value="" required>
		<span class="input-group-addon">Acres</span>
		</div>
		</div>

        
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-loading"     data-loading-text="<span class='fa fa-spin fa-spinner'></span> Please wait.."
>		Register
        </button>
      
	  </form>
    </div>
  </div>
  </div>
{%endblock%}                                		