{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/selectize.bootstrap3.css')}}">
<script src="{{url_for('static', filename='js/selectize.min.js')}}"></script>
<div class="container">
<div class="page-header">
    <h1>
      Search Farmer
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <form method="POST" action="/u/search" autocomplete="off">
        <input id="csrf_token" name="csrf_token" type="hidden" value="1434974115##cfdd05a314e5f0fdd6618eb504b4ce2b637a7ff7">
		
		<div class="form-group ">
		<label class="control-label" for="name">Name</label>
		<select autofocus class="form-control" id="select-farmer" name="name" type="text" value="">
		{% for farmer in farmers %}
			<option value="{{farmer.id}}">{{farmer.name}}</option>
		{% endfor %}
		</select>
		<script>
			$("#select-farmer").selectize({
				create: true,
				sortField: 'text'
				});
		</script>
		</div>

        <button type="submit" class="btn btn-primary btn-lg btn-block btn-loading" data-loading-text="<span class='fa fa-spin fa-spinner'></span> Please wait..">
		<span class="glyphicon glyphicon-search"></span> Search / Register</button>
      
	  </form>
    </div>
  </div>
  </div>
{% endblock %}
</body>
</html>